body{
  background-color: purple;
  font:"Gill Sans" ;
  color: white;
  padding: 25px 40px;
}

.navbar{
  display: block;
  text-align: center;
  color: purple;
  font-family: sans-serif;
  background-color: white;
  padding: 6px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 2px;
  overflow: hidden;
  box-shadow: 2px 2px 8px white;
}

.navbar a {
  font-family: sans-serif;
  font-weight: bold;
  color: purple;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

/* Change the color of links on hover */
.navbar a:hover {
  box-shadow: 0px 2px  rgb(73, 12, 73);
  font-weight:bolder;
  transition: 0.5s;
  color: #C0C0C0;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: rgb(73, 12, 73);
}

.contentbox{
  align-items: center;
  padding: 25px 200px;
  background-color: purple;
  color: white;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
}

.contentbox h1{
  font-family: 'Trebuchet MS';
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: #eca713;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 30vw;
  overflow: auto;
  margin-left: 9%;
}

.customer{
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 18px;
  border: 2px solid white;
}
.customer th{
  box-shadow: 0px 1px  white;
  font-family: "Trebuchet MS";
  padding:25px;
  margin: 25px;
  font-weight: bold;
  font-size: 20px;
}


.customer td{
  font-family: Verdana;
  padding: 15px;
  margin: 15px;
  font-size: 14px;

}

.footer {
    width: 100%;
    display: block;
    color: white;
    font-family: monospace;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    padding: 2px;
    margin-top: 2px;
}
  