body {
    background-color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.container {
  width: 100%;
}

.header{
    display: inline-block;
    margin-left: 15vw;
    margin-top: 10vh;
    padding: 10px;
    color: white;
    font-size: 5vw;
    font-weight: 100;
    font-family: Verdana;
    width: 35%;
    overflow: auto;
    text-shadow: 2px 2px grey;
  }
  
  .navbar{
    display: block;
    text-align: center;
    color: purple;
    font-family: sans-serif;
    background-color: white;
    padding: 6px;
    width: 100%;
    height: auto;
    margin-top: 24px;
    margin-bottom: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 8px white;
  }
  
  .navbar a {
    font-family: sans-serif;
    font-weight: bold;
    color: purple;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    box-shadow: 0px 2px  rgb(73, 12, 73);
    font-weight:bolder;
    transition: 0.5s;
    color: #C0C0C0;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    color: rgb(73, 12, 73);
  }

/* Services section */
.features{
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.feature-col{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 400px;
}

.feature-col img{
  width: 300px;
  background-color: white;
} 


.feature-col h2{
  display: inline-block;
  background-color: purple;
  border-radius: 10px;
  border-style: double;
  border: 2px solid purple;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 15vw;
  overflow: auto;
  cursor: pointer;
}

.feature-col a{
  color: white;
}

.feature-col a:hover{
  color: rgb(237, 211, 238);
}

.feature-col h2{
  padding-left: 68px;
}

.servicesBox {
  color: white;
  font-size: 2vw;
  text-align: center;
  font-family: Verdana;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  display: block;
  color: white;
  font-family: monospace;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  padding: 2px;
  margin-top: 2px;
}

