body{
  background-color: purple;
  font:"Gill Sans" ;
  color: white;
  padding: 25px 25px;
}

.navbar{
  display: block;
  text-align: center;
  color: purple;
  font-family: sans-serif;
  background-color: white;
  padding: 6px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 2px;
  overflow: hidden;
  box-shadow: 2px 2px 8px white;
}

.navbar a {
  font-family: sans-serif;
  font-weight: bold;
  color: purple;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

/* Change the color of links on hover */
.navbar a:hover {
  box-shadow: 0px 2px  rgb(73, 12, 73);
  font-weight:bolder;
  transition: 0.5s;
  color: #C0C0C0;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: rgb(73, 12, 73);
}

.contentbox{
  align-items: center;
  padding: 25px 200px;
  background-color: purple;
  color: white;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
}

.contentbox h1{
  font-family: 'Trebuchet MS';
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: #eca713;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 30vw;
  overflow: auto;
  margin-left: 22%;
}
.subcontent{
  padding-left: 5vw;
  padding-right: 3hw;
  padding-top: 2vw;
  background-color: rgb(245, 204, 245);
  color: purple;
  transition: 0.3s;
  width: 70%;
  display: inline-block;
  box-shadow: 2px 2px 2px 2px whitesmoke;
  border-radius: 10px;
  margin: 10px;
  height: max-content;
}

.input{
  padding: 2px;
  padding-right: 10px;
  margin-right: 10%;
  margin: 5px;
  width: 35%;
}

.button{
  align-self: center;
  align-content: center;
  font-family: Verdana;
  font-size: 14px;
  background-color: purple;
  border-radius: 10px;
  color: whitesmoke;
  border: 1px solid white;
  padding: 10px;
  margin: 0px;
  width:fit-content;
}

.button:hover{
  cursor: pointer;
}

.footer {
    width: 100%;
    display: block;
    color: white;
    font-family: monospace;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    padding: 2px;
    margin-top: 2px;
}
  